<input #box1 type="text" (keyup.enter)="UpdateProp(box1.value)">
<input #box2 type="text" (keyup.enter)="UpdateObjectProp(box2.value)">
<input #box3 type="text" (keyup.enter)="UpdateObject(box3.value)">

<!-- <button  [routerLink]="['home']">Home</button > -->
<button [routerLink]="['user-input']">User Input</button>
<button [routerLink]="['pipe']">Pipe</button>
<button [routerLink]="['tutorials']">Tutorials</button>
<!-- <button [routerLink]="['life-cycle',this.inputValue]">Life Cycle</button> -->
<!-- <div>

  without input parameter
  <app-life-cycle ></app-life-cycle>

</div> -->
<div>
  with input paramter
  <app-life-cycle [name]="inputValue" [customObject]="hereObject" appSpyClass ></app-life-cycle>
</div>
<app-after-view></app-after-view>
<app-ad-banner [ads]="ads"></app-ad-banner>
